/* ---------------------------------- */
/* --------------DEFAULT SET UP----------- */
/* ---------------------------------- */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background-color: #eee;
    text-rendering: optimizeLegibility;
}

/* ---------------------------------- */
/* --------------Reusable component----------- */
/* ---------------------------------- */

.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}

/* ---------------------------------- */
/* --------------Header----------- */
/* ---------------------------------- */
#header{
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* margin-bottom: 50px; */
    background-color: #eee;
}

.logo{
    width: 65vw;
    margin-right: auto;
}

#header-img{
    width: 350px;
}

#nav-bar ul{
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content : space-around;
    list-style: none;
}

#nav-bar a{
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 15px;
}

/*  */

/* ---------------------------------- */
/* --------------Form----------- */
/* ---------------------------------- */
.hero{
    margin-top: 50px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.hero h3{
    margin-bottom: 20px;
}
form{
    display: block;
}

form input[type="email"]{
    max-width: 275px;
    width: 100%;
    padding: 5px;
}

form input[type="submit"]{
    border: 0;
    margin-top: 10px;
    padding: 5px;
    background-color: #f1c40f;
    text-transform: uppercase;
    font-weight: 800;
    transition: 1s;
    cursor: pointer;
}

form input[type="submit"]:hover{
    background-color: #f1970f;
}

/* ---------------------------------- */
/* --------------Feature-section----------- */
/* ---------------------------------- */
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

.grid{
    display: flex;  
}

#features-section .icon{
    display: flex;
    width: 20vw;
    height: 125px;
    color: orange;
    font-size: 40px;
    align-items: center;
    justify-content: center;
}

#features-section .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
}

/* ---------------------------------- */
/* --------------How it works-section----------- */
/* ---------------------------------- */
#how-it-works-section{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* ---------------------------------- */
/* --------------Pricing-section----------- */
/* ---------------------------------- */
#pricing-section{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product{
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.pricing-title{
    background-color: #ddd;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 0;
}

.pricing{
    margin-top: 15px;
    font-weight: 600;
}

#pricing-section ul{
    list-style: none;
    margin: 15px 0;
    text-align: center;
}

#pricing-section ul li{
    padding: 5px 0;
}

.btn{
    border: 0;
    margin: 15px 0;
    font-size: 15px;
    padding: 0 20px;
    height: 40px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #f1c40f;
    transition: 1s    ;
    cursor: pointer;
}

.btn:hover{
    background-color: #f1970f;
}

/* ---------------------------------- */
/* --------------Footer-section----------- */
/* ---------------------------------- */
footer{
    font-size: smaller;
    background-color: #ddd;
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 20px;
}

footer ul{
    margin-bottom: 5px;
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

footer ul li{
    margin: 0 10px;
}

footer p{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    color: #444;
}
